Flask>=3.0.0
gunicorn>=21.2.0
PyPDF>=4.0.0
langchain-core>=0.2.1
langchain-text-splitters>=0.2.0
langchain-google-firestore>=0.1.4
langchain-google-genai>=1.0.4
google-cloud-aiplatform>=1.50.0
google-cloud-firestore>=2.11.0
google-cloud-storage>=2.8.0
google-cloud-tasks>=2.13.0
nest-asyncio>=1.6.0
